<!DOCTYPE html>
<html>
<head>
  <title>FlixRatings</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<nav>
<a href="/">Home</a> - <a href="/films">All Films</a> - <a href="/rankings/choosedecade">Add New Ranking</a>
</nav>

<%=yield %>
</body>
</html>