<h1>Add a film</h1>

<form action="/films/find" method="post">
  <label for="title">Title:</label>
  <input type="text" name="title"><br>
  <label for="year">Year:</label>
  <input type="text" name="year"><br>

  <input type='submit' value="Find Film">
</form>
